'context-menu':
  'atom-workspace': [
    {
      'label': 'Enable toolbar'
      'command': 'toolbar:toggle'
    }
  ]
  
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'toolbar'
      'submenu': [
        { 'label': 'Toggle', 'command': 'toolbar:toggle' }
      ]
    ]
  }
]
